<div>
  <div>
    <%= render partial: "users/user_details", locals: { user: @user } %>
  </div>

  <div>
    <% @posts.each do |p| %>
    <ul>
      <li>
        <%= render partial: "post_details", locals: { post: p } %>
      </li>
    </ul>
      <%= render partial: "comments_section", locals: { comments: p.recent_comments } %>
    <% end %>
  </div>

  <button type="button">Pagination</button>
</div>
